@font-face{
	font-family: Pragmatica;
	font-display: swap;
	src: url("../fonts/Pragmatica.woff2") format("woff2"), url("../fonts/Pragmatica.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
