//Базовый контейнер
.container{
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        position: relative;
}

//Стили для секции header
header{
        background-color: $header-bg-color;
        margin-bottom: 46px;
}

.nav{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 16px;
        margin-bottom: 49px;
}

.logo{
        margin-right: 54px;

        object{
                max-width: 278px;
                max-height: 72px;

                img{
                        width: 100%;
                        height: 100%;
                }
        }

        &_mr0{
                margin-right: 0;
        }
}

.nav-search{
        form{
                position: relative;
                display: flex;
                margin-right: 62px;
        
                input{
                        width: 100%;
                        min-width: 566px;
                        max-width: 566px;
                        height: 100%;
                        min-height: 33px;
                        max-height: 33px;
                        border: $border-color 2px solid;
                        border-radius: 5px;
                        background-color: $input-gray-bg-color;
                        color: $input-text-color;
                        font-size: 14px;
                        padding-left: 10px;
        
                        &:focus{
                                outline: 0;
                                outline-offset: 0;
                        }
                }
        
                button{
                        position: absolute;
                        left: 504px;
                        top: 1.5px;
                        width: 100%;
                        max-width: 60px;
                        height: 100%;
                        min-height: 30px;
                        max-height: 30px;
                        border-radius: 3px;
                        background-color: $btn-bg-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                }
        }
}

.menu-auth{
        display: flex;

        li{
                position: relative;
                margin-right: 29px;

                &:last-child{
                        margin-right: 0;
                }

                a{
                        position: relative;
                        text-decoration: none;
                        color: $auth-items-color;
                        font-size: $auth-items-size;
                        font-weight: 400;

                        span{
                                &::before{
                                        position: absolute;
                                        content: "";
                                        border: 6px solid transparent; 
                                        border-top: 9px solid $auth-items-color;
                                        top: 3.5px;
                                        left: -14px;
                                }
                        }
                }
        }
}

.nav-menu{
        padding-bottom: 37px;
        
        &__list{
                display: flex;
                align-items: center;

                li{
                        position: relative;
                        margin-right: 63px;
        
                        &:nth-child(4){
                                margin-right: auto;
                        }
        
                        &:last-child{
                                margin-right: 20px;
                        }
                }
        
                a{
                        position: relative;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: $nav-menu-items-color;
                        font-size: $nav-menu-items-size;

                        &:hover::after {
                                width: 100%;
                                right: 0;
                        }

                        &::after {
                                bottom: 0;
                                content: "";
                                display: block;
                                height: 2px;
                                left: 0;
                                position: absolute;
                                background: $underline-color;
                                transition: width .5s ease 0s, right .5s ease 0s;
                                width: 0;
                        }

                        span{
                                &::before{
                                        position: absolute;
                                        content: "";
                                        border: 6px solid transparent; 
                                        border-top: 10px solid $nav-menu-items-color;
                                        top: 5px;
                                        right: -15px;
                                }
                        }
                }
        }        
}

.content-group{
        display: flex;
        align-items: flex-start;
        position: relative;
        margin-bottom: 46px;
}

//Стили для секции sidebar
aside{
        margin-right: 16px;
        width: 100%;
        max-width: 234px;
}

.sidebar{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 234px;

        &__btn{
                width: 100%;
                max-width: 232px;
                height: 100%;
                max-height: 34px;
                text-decoration: none;
                padding: 8px 74px 8px 74px;
                text-align: center;
                background-color: $sidebar-btn-bg-color;
                color: $sidebar-btn-color;
                border: $sidebar-btn-border-color 1px solid;
                border-radius: 5px;
                font-weight: 700;
                transition: all 0.5s ease;

                &:hover{
                        border: $btn-bg-color 1px solid;
                        border-radius: 5px;
                        background-color: $btn-bg-color;
                        color: $btn-text-color;
                        box-shadow: 0 0 0 2px $btn-bg-color inset, 0 0 0 4px $btn-border-color inset;
                }

                &_mb12px{
                        margin-bottom: 12px;
                }
        }

        &__search{
                margin-bottom: 28px;

                form{
                        position: relative;
                        display: flex;
                
                        input{
                                width: 100%;
                                min-width: 232px;
                                max-width: 232px;
                                height: 100%;
                                min-height: 24px;
                                max-height: 24px;
                                border: none;
                                border-radius: 5px;
                                background-color: $input-gray-bg-color;
                                color: $input-text-color;
                                font-size: 14px;
                                padding-left: 5px;
                
                                &:focus{
                                        outline: 0;
                                        outline-offset: 0;
                                }
                        }
                
                        button{
                                position: absolute;
                                left: 208px;
                                top: 1.8px;
                                width: 100%;
                                max-width: 20px;
                                height: 100%;
                                min-height: 21px;
                                max-height: 21px;
                                border-radius: 3px;
                                background-color: transparent;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: none;

                                object{
                                        min-width: 20px;
                                        max-width: 20px;
                                        min-height: 21px;
                                        max-height: 21px;

                                        img{
                                                width: 100%; 
                                                height: 100%;
                                        }
                                }
                        }
                }
        }

        &__studNteach{
                width: 100%;
                max-width: 232px;
                height: 100%;
                max-height: 34px;
                text-decoration: none;
                padding: 8px 14px 8px 14px;
                border-radius: 5px;
                background-color: $sidebar-studNteach-bg-color;
                font-size: $side-text-size;
                color: $sidebar-studNteach-color;
                font-weight: 400;
                transition: all 0.3s ease;

                &:hover{
                        border-radius: 5px;
                        box-shadow: 0 0 0 2px $btn-bg-color inset, 0 0 0 4px $btn-border-color inset;
                }

                &_mb6px{
                        margin-bottom: 6px;
                }
        }

        &__news{
                width: 100%;
                min-width: 232px;
                max-width: 232px;
                height: 100%;
                min-height: 638px;
                max-height: 638px;
                background-color: $light-black;
                border-radius: 5px;
        }
}

//Стили для секции courses
.courses{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        min-width: 1150px;
        // max-width: 1150px;
        height: 100%;
        min-height: 774px;
        // max-height: 770px;
        background-color: transparent;
        border: $courses-border-color 3px solid;
        border-radius: 5px;
        color: $courses-text-color;
        font-size: $courses-text-size;
}

//Стили для секции footer
footer{
        background-color: $footer-bg-color;
        padding-top: 30px;
}

.foo-content{
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: $footer-text-size;

        &__menu{
                margin-bottom: 16px;
        }

        &__list{
                display: flex;

                li{
                        position: relative;
                        margin-right: 40px;

                        &:nth-child(6){
                                margin-right: auto;
                        }
                        
                        &:last-child{
                                margin-right: 0;
                        }
                }

                a{
                        position: relative;
                        text-decoration: none;
                        color: $footer-list-item-color;
                        font-weight: 400;

                        &:hover::after {
                                width: 100%;
                                right: 0;
                        }
        
                        &::after {
                                bottom: 0;
                                content: "";
                                display: block;
                                height: 1px;
                                left: 0;
                                position: absolute;
                                background: $footer-items-underline-color;
                                transition: width .5s ease 0s, right .5s ease 0s;
                                width: 0;
                        }
                }
                
        }
}

.social-bar{
        display: flex;

        li{
                margin-right: 10px;
                background-color: $dark-gray;
                border-radius: 5px;
                border: $dark-gray 2px solid;
                transition: all 0.5s ease;

                &:hover{
                        border-radius: 5px;
                        border: $btn-bg-color 2px solid;
                }

                &:first-child{
                        margin-left: auto;
                }

                &:last-child{
                        margin-right: 0;
                }
        }

        a{
                text-decoration: none;

                object{
                        max-width: 37px;
                        max-height: 27px;

                        img{
                                width: 100%;
                                height: 100%;
                        }
                }
        }
}

.wrapper{
        margin-bottom: 10px;
}

.group-info{
        display: flex;
        margin-bottom: 100px;
}

.feedback{
        margin-right: auto;

        &__list{
                display: flex;
                flex-direction: column;

                li{
                        margin-bottom: 10px;
                        font-size: $footer-text-size;
                        color: $footer-list-item-color;

                        &:nth-child(2){
                                object{
                                        max-width: 25px;
                                        max-height: 25px;
                                        margin-right: 5px;

                                        img{
                                                width: 100%;
                                                height: 100%;
                                        } 
                                }
                        }

                        &:last-child{
                                margin-bottom: 0;

                                object{
                                        margin-left: 5px;
                                        max-width: 18px;
                                        max-height: 18px;
                                        margin-right: 7px;

                                        img{
                                                width: 100%;
                                                height: 100%;
                                        }  
                                }      
                        }
                }

                a{
                        color: $footer-list-item-color;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        font-weight: 400;
                }
        }
}

.more-info{
        margin-top: 36px;

        &__list{
                display: flex;
                flex-direction: column;
                text-align: right;

                li{
                        margin-bottom: 10px;
                        font-size: $footer-text-size;
                        position: relative;
                        
                        &:last-child{
                                margin-bottom: 0;
                        }
                }

                a{
                        color: $footer-list-item-color;
                        text-decoration: none;
                        position: relative;
                        font-weight: 400;

                        &:hover::after {
                                width: 100%;
                                right: 0;
                        }
        
                        &::after {
                                bottom: 0;
                                content: "";
                                display: block;
                                height: 1px;
                                left: 0;
                                position: absolute;
                                background: $footer-items-underline-color;
                                transition: width .5s ease 0s, right .5s ease 0s;
                                width: 0;
                        }
                }
        }
}

.date-n-logo{
        display: flex;
        align-items: center;
        padding-bottom: 56px;

        span{
                margin-right: auto;
                font-size: $footer-text-size;
                color: $footer-date-color;
                font-weight: 400;
        }
        object{
                max-width: 88px;
                max-height: 24px;

                img{
                        width: 100%;
                        height: 100%;
                }
        }
}

//Стили для секции authorization
.auth-body-bg{
        background: url(@img/bg-auth.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed; 
        width: 100%;
        height: 100%;
        position: relative;
        background-color: $body-bg-color;
        min-height: 100vh;
}

.auth-body-overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: $body-bg-color;
        opacity: 0.85;
}

.auth-forms{
        position: relative;
        
        &__content{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 100vh;
        }

        &__left-part{
                position: relative;
                display: flex;
                flex-direction: column;
                margin-right: auto;
                
                a{
                        display: flex;
                        margin-bottom: 20px;
                }

                h1{
                        color: $h1-color;
                        font-size: $h1-size;
                        font-weight: 700;
                        line-height: 72px;
                        max-width: 532px;
                        max-height: 300px;
                        margin-bottom: 32px;
                }
        }

        &__subtext{
                display: flex;
                align-items: center;
                color: $sign-color;
                font-size: $sign-size;
                font-weight: 700;
                line-height: 18px;

                li{
                        display: flex;
                        align-items: flex-end;

                        &:first-child{
                                margin-right: 46px;
                        }
                        
                        object{
                                max-width: 30px;
                                max-height: 30px;

                                img{
                                        width: 100%;
                                        height: 100%;
                                        margin-right: 4px;
                                }
                        }
                }
        }

        &__right-part{
                position: relative;
                width: 100%;
                max-width: 560px;
                height: 100%;
                max-height: 560px;
                background-color: $auth-form-bg-color;
                border: $border-color 3px solid;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        }
}

.subscribe, .login{
        width: 100%;
        max-width: 404px;
        display: flex;
        flex-direction: column;
        text-align: center;

        h2{
                color: $auth-form-span-color;
                text-align: center;
                font-size: $auth-form-span-size;
                font-weight: 600;
                margin-bottom: 22px;
        }

        form{
                div{
                        max-width: 404px;
                        max-height: 44px;
                        margin-bottom: 16px;
                }

                input{
                        width: 100%;
                        height: 44px;
                        border: transparent solid 2px;
                        border-bottom: $border-color 2px solid;
                        margin-bottom: 16px;
                        background-color: transparent;
                        color: $light-gray;
                        padding-left: 5px;
                        font-size: $subscribe-input-size;
                        box-shadow: none;

                        &:focus{
                                outline: 0;
                                outline-offset: 0;
                        }
                }
        }

        &__change-link{
                display: flex;
                justify-content: center;
                font-size: $subscribe-input-size;
                color: $input-light-text-color;
                font-weight: 500;
                
                span{
                        margin-right: 5px;
                }

                a{
                        text-decoration: none;
                        color: $orange;
                        align-items: center;
                        position: relative;
                        cursor: pointer;

                        &:hover::after {
                                width: 100%;
                                right: 0;
                        }
        
                        &::after {
                                content: "";
                                display: block;
                                bottom: -1px;
                                left: 0;   
                                height: 2px;
                                position: absolute;
                                background: $underline-color;
                                transition: width .5s ease 0s, right .5s ease 0s;
                                width: 0;
                        }
                }
        }
}

.login{
        padding-top: 98px;
        padding-bottom: 98px;

        h2{
                margin-bottom: 52px;
        }

        &__field{
                position: relative;

                div{
                        position: absolute;
                        content: "";
                        width: 26px;
                        height: 26px;
                        top: 8px;
                        left: 0;

                        object{
                                img{
                                        width: 100%;
                                        height: 100%;
                                }
                        }   
                }
        }

        form{
                div{

                        &:nth-child(3){
                                input{
                                        background-color: $input-orange-bg-color;
                                        border: none;
                                        border-radius: 4px;
                                        font-weight: 700;
                                        color: $light-black;
                                        transition: all 0.3s ease;
                                        padding: 0;
                                        cursor: pointer;

                                        &:hover{
                                                background-color: $input-bg-dark-color;
                                                box-shadow: 0 0 0 2px $btn-bg-color inset, 0 0 0 2px $btn-border-color inset;
                                                color: $orange;
                                        }
                                }
                        }

                        &:nth-child(2){
                                margin-bottom: 26px;

                                input{
                                        margin-bottom: 0;
                                }
                        }
                }

                input{
                        padding-left: 30px;
                }
        }
}

.subscribe{
        display: none;
        overflow: hidden;
        padding-top: 23.2px;
        padding-bottom: 23.2px;

        div{
                &:first-child{
                        margin-bottom: 0;
                }

                &:nth-child(6){
                        input{
                                background-color: $input-orange-bg-color;
                                border-radius: 4px;
                                border: none;
                                font-weight: 700;
                                color: $light-black;
                                transition: all 0.3s ease;
                                padding: 0;
                                cursor: pointer;

                                &:hover{
                                        background-color: $input-bg-dark-color;
                                        box-shadow: 0 0 0 2px $btn-bg-color inset, 0 0 0 2px $btn-border-color inset;
                                        color: $orange;
                                }
                        }
                }

                &:nth-child(5){                        
                        margin-bottom: 26px;

                        input{
                                margin-bottom: 0;
                        }
                }
        }
}

