//Primary colors
$orange: #FD8900;
$black: #030303;
$dark-gray: #3F3C3C;
$light-gray: #9E9A9A;
$light-black: #151515;
$white: #FFFFFF;

//Element colors
$header-bg-color: $light-black;
$body-bg-color: $black;
$nav-menu-items-color: $white;
$underline-color: $orange;
$border-color: $light-gray;
$input-bg-color: $dark-gray;
$input-text-color: $light-gray;
$title-color: $orange;
$auth-items-color: $light-gray;
$btn-bg-color: $orange;
$btn-border-color: $light-black;
$btn-text-color: $black;
$sidebar-btn-bg-color: $light-black;
$sidebar-btn-color: $light-gray;
$sidebar-btn-border-color: $light-gray;
$sidebar-studNteach-bg-color: $light-black;
$sidebar-studNteach-color: $light-gray;
$sidebar-news-bg-color: $light-black;

//Elements size
$nav-menu-items-size: 20px;
$title-size: 16px;
$primary-text-size: 16px;
$side-text-size: 14px;
$auth-items-size: 14px;

